<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Hoohair</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCYKN_XiqW2dE8Sy7OY_9ynIDkT6rUjUaA",
        authDomain: "hoohair-e9b51.firebaseapp.com",
        databaseURL: "https://hoohair-e9b51.firebaseio.com",
        storageBucket: "hoohair-e9b51.appspot.com",
      };
      firebase.initializeApp(config);
    </script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="Hoohair">

    <ion-view>
      <ion-content scroll=false>
        <div id="main-page" class="padding">
          <div class="row row-header">
            <div class="col">
              <h4>Coming soon!</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img id="logo" src="logo.png"/>
            </div>
          </div>
          <div class="row" ng-controller="socialController">
            <div class="col">
              <i class="icon ion-social-{{socialLink.type}}" ng-repeat="socialLink in socialLinks" ng-click="open(socialLink.link);"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              Cut the hassle of booking hair appointments with the Hoohair app
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              Be the first to know about Hoohair!
            </div>
          </div>
          <div ng-controller="formController">
            <div class="row">
              <div class="col">
                <div ng-repeat="item in items">
                  <label ng-keypress="keyPress($event)" class="item item-input form-item">
                    <input id="{{'input_' + item.name}}" ng-model="item.value" type="{{item.type}}" placeholder="{{item.name}}"/>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button id="submit-button" ng-click="register();" class="form-item">Register</button>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>
